snippet nn "not null"
not null 
endsnippet

snippet pk "primary key"
primary key 
endsnippet

snippet ct "create table"
create table 
endsnippet

snippet int "integer"
integer 
endsnippet

snippet vc20 "vc20"
varchar(20) 
endsnippet
